<template name="quiz_template"> 
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Quiz!</div>
      <!--<div class="anti-modal-closer">&times;</div>  "X" -->
    </div>
    <div class="anti-modal-body">
     <form action="">
		<fieldset>
			<legend>Domanda</legend><br>
 			<input type="checkbox" name="html" value="html"/> A. Sono bello
			 <br /> 
 			<input type="checkbox" name="css" value="css"/> B. Sono snello 
		</fieldset>
		
		<button id='esci_quiz' type="button">Esci</button>
	</form>
    </div>
  </div>
</template>
