<template name="finestra_template"> 
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Cosa vuoi fare?</div>
      <!--<div class="anti-modal-closer">&times;</div>  "X" -->
    </div>
    <div class="anti-modal-body">
     <form action="">
		 <button id='quiz' type="button"><img src="/img/quiz.jpg" width="128" height="128"><br/><h1>Quiz</h1></button>
		 <button id='personalizza' type="button"><img src="/img/paint.png" width="128" height="128"><br/><h1>Personalizza</h1></button><br/>
		<button id='esci' type="button">Esci</button>
	</form>
    </div>
  </div>
</template>
