<template name="ui">
  
  <!-- floating UI box -->
	<div class="ui">
		
		
		<!-- <button id='prova' type="button">Prova!</button> -->
		
		<h1>E-Learning-CVE</h1>
		<p class="subtitle">Demo CVE</p>
		
		<h2> LISTA PLAYER LOGGATI </h2> 
			<ul>
				{{#each allPlayers}}
					<li style='{{color}}'> {{nome}} -----> {{room}} </li>
				{{/each}}
			</ul>	
			
		{{#if currentUser}}
			{{> user_logout}}
		{{else}}
			{{> user_login}}
		{{/if}}		
	</div>
	
	<div class='details'>
		
	</div>	
 
</template>